<a href="https://colab.research.google.com/github/sigvehaug/CAS-Applied-Data-Science/blob/master/Module-1/M1_D1_DM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Notebook 1, Module 1, Data and Data Management, CAS Applied Data Science, 2023-08-23, S. Haug, University of Bern.

Prerequisite for this notebook is some basic Python experience.

Please also look at the first batch of [these slides](https://docs.google.com/presentation/d/1BrlQQGDnEpr8lBiEd9uO-Kw2-WOInAEP-cv-xdUwB4Y/edit?usp=sharing) before doing this notebook. They offer an introduction to data.

ChatGPT is able to write most of the code needed for this notebook. Please use it if you like !

# 1. Data Management

Estimated study time is about 2 hours. According to your background and how much you want to learn, you may need more or less. You are supposed to google, read manuals and chat with others during working through this notebook in order to benefit fully.

**Learning outcomes - after completion you**
- Know about data sources, types and formats (see lecture slides via link above)
- Able to import and export data in Python
- Able to do simple things with dataframes in Python
- Know about data volumes, metadata and quality
- Able to plot histograms and scatter plots in Python (tomorrow)

**Documentation on Pandas DataFrame**
- Python: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html

## Outline

     0. About data management
     1. Getting used to Jupyter notebooks / colab
     2. Import datasets into a Python dataframe
     3. Indexing on a dataframe
     4. Sorting
     5. Filtering
     6. Exporting
     7. Missing and bad data
     8. Metadata
     9. Working on the filesystem

### 0. About data management

Handling or managing data involves many steps and technologies at many levels. Data may be collected by sensors. It can be a camera, a temperature sensor, a telescope, a microscope (with a camera), a microphone, a particle detector etc. Normally the data is then digitised, maybe preprocessed and written to some media in a certain format, e.g. as a comma separated value (csv) file to a hard disk. This part of the data management is normally taken care of by engineers.

Data may also be collected from all sorts of databases, i.e. data that has already been collected somehow. Time series of financial data, customers, passenger registers, facebook likes, twitter tweets etc. This is data which is normally already on a media with some interface for access, e.g. paper to be read by a camera, a file on youtube, a table on wikipedia etc. We will look at some ways to collect such data. Some programming and computer skills are needed to do so. It may be that this part of the data management is taken care of by specialised computer scientists, but it may also be expected from a data scientist to have these skills.

Analysing data with statistical and machine learning tools, requires that the data is collected, cleaned and prepared for the tools. This is very often a very large part of a data analytics project and a prerequisite. It may involve removing bad data, filtering out redundant and noisy data, unifying the formats and types, transforming the data etc.
Thus, a data scientist must be able to perform this part of the data management. This notebook shows the basic operations with Python pandas. With other tools the concepts and operations are very similar.

After the data analysis, and after the extraction of information and the creation of knowledge, the data is often stored or archived for the future (if this seems cheaper than regenerating the data at a later point). In larger institutions this part of the data management may include educated librarians and others, not necessarily the data scientist.  

**In this notebook we only look at a few examples on how to do data management with dataframes. Pandas is extremely powerful and we cannot show everything in a couple of hours. You will become more and more experienced when you work on your module projects. Probably whatever you want to do with your dataframe, there is a way to do it. If there isn't, then what you want to do probably doesn't make much sense.**

Any questions?

### 1. Getting used to Jupyter computational notebooks and Colab

With Jupyter you can write rich text notebooks with executable code via your browser. There are several so-called kernels or computational back ends, e.g. Python, R, Julia, bash etc. can all be supported. The text is written as Markdown. Latex is also supported (good for math). You can export the notebook in various formats, e.g. html. Everything can be done via the various tabs, however, the key shortcuts make you faster.

*Useful key combinations*

- Shift Enter or Control Enter = Run cell
- Option/Alt Enter = Run cell and Insert new cell below

### Exercise 1 (10 min)
- Change and run this cell
- Add a new cell and execute some python statement in it
- Study the tabs in the menu of your jupyter (lab) notebook

In [1]:
# Write some more Python code here
print('Hello')

Hello

In [2]:
for i in range(10):
    print('testing counter. Now in:', i)

testing counter. Now in: 0
testing counter. Now in: 1
testing counter. Now in: 2
testing counter. Now in: 3
testing counter. Now in: 4
testing counter. Now in: 5
testing counter. Now in: 6
testing counter. Now in: 7
testing counter. Now in: 8
testing counter. Now in: 9

### 2. Import a dataset into a Pandas DataFrame

Pandas is a Python Module for data analysis and manipulation and management. It has the data structure DataFrame which is quite powerful. It features

- DataFrame object for data management with integrated indexing.
- Tools for reading and writing data between in-memory data structures and different file formats.
- Data alignment and integrated handling of missing data.
- Reshaping and pivoting of data sets.
- Label-based slicing, fancy indexing, and subsetting of large data sets.
- Data structure column insertion and deletion.
- Group by engine allowing split-apply-combine operations on data sets.
- Data set merging and joining.
- Hierarchical axis indexing to work with high-dimensional data in a lower-dimensional data structure.
- Time series-functionality: Date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging.

The module is highly optimized for performance, with critical code parts written in Cython or C. Documentation here: https://pandas.pydata.org/pandas-docs/stable/api.html

For input/output (I/O) there are methods for reading EXCEL, SQL databases, HTML tables, clipboard, SAS, STATA etc.

In [6]:
# Upload the local data file to colab 
#(already uploaded into JupyterLab)
#option 1: dialog to upload local files onto the cloud
#from google.colab import files
#uploaded = files.upload()

In [3]:
# import the python module pandas with the abbreviation pd
import pandas as pd

# Read the data in the iris.csv file into a dataframe
iris_df = pd.read_csv('iris.csv')
iris_df

# If you work on colab, you need the data file on colab of course

#option 3: using pandas to read the data directly from a web server
#import pandas as pd
#url = 'https://raw.githubusercontent.com/sigvehaug/CAS-Applied-Data-Science/master/Module-1/iris.csv'
#df = pd.read_csv(url)  # Read the data in the iris.csv file into a dataframe

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

The dataframe method shows 50 rows per default. We can change this as we like:

In [4]:
iris_df.head() #shows only first 5 rows

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [11]:
pd.set_option('display.max_rows',6)
iris_df

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [7]:
iris_df

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

Find out on wikipedia what this Iris data is about.

### Hint

There are some ways to get help about modules and methods in Jupyter:

Get help about this object, if there is any:

And, what you will probably use the most, the online package information and examples by googling or ChatGPT.

### Exercise 2 (10 min)

Read the Swiss BAG Corona data on deaths into a dataframe and look at it. The URL is
https://www.covid19.admin.ch/api/data/20230815-7ixiby4u/sources/COVID19Death_geoRegion.csv

There are also json files on that server. If you want to use them instead, consult https://pandas.pydata.org/docs/reference/io.html in order to find out how to read a json file into a pandas dataframe.

In [44]:
# Write your code here
pd.set_option('display.max_rows',10)
url = 'https://www.covid19.admin.ch/api/data/20210823-4c27ic5b/sources/COVID19VaccPersons_v2.json'
#url = 'https://www.covid19.admin.ch/api/data/20230815-7ixiby4u/sources/COVID19Death_geoRegion.csv'
covid_df = pd.read_json(url)

In [45]:
covid_df

,date,geoRegion,entries,pop,sumTotal,per100Persons,per100PersonsTotal,type,version,granularity,per100Persons_mean7d,mean7d
0,2020-12-22,AG,0,685845.0,0,0.00,0.00,COVID19AtLeastOneDosePersons,2021-08-23_10-12-10,detailed,NaN,NaN
1,2020-12-23,AG,5,685845.0,5,0.00,0.00,COVID19AtLeastOneDosePersons,2021-08-23_10-12-10,detailed,NaN,NaN
2,2020-12-24,AG,2,685845.0,7,0.00,0.00,COVID19AtLeastOneDosePersons,2021-08-23_10-12-10,detailed,NaN,NaN
3,2020-12-25,AG,0,685845.0,7,0.00,0.00,COVID19AtLeastOneDosePersons,2021-08-23_10-12-10,detailed,0.00,2.00
4,2020-12-26,AG,0,685845.0,7,0.00,0.00,COVID19AtLeastOneDosePersons,2021-08-23_10-12-10,detailed,0.00,3.29
...,...,...,...,...,...,...,...,...,...,...,...,...
23419,2021-08-18,ZH,33,1539275.0,73528,0.00,4.78,COVID19PartiallyVaccPersons,2021-08-23_10-12-10,detailed,-0.02,-252.57
23420,2021-08-19,ZH,-157,1539275.0,73371,-0.01,4.77,COVID19PartiallyVaccPersons,2021-08-23_10-12-10,detailed,-0.02,-246.14
23421,2021-08-20,ZH,70,1539275.0,73441,0.00,4.77,COVID19PartiallyVaccPersons,2021-08-23_10-12-10,detailed,NaN,NaN
23422,2021-08-21,ZH,245,1539275.0,73686,0.02,4.79,COVID19PartiallyVaccPersons,2021-08-23_10-12-10,detailed,NaN,NaN
23423,2021-08-22,ZH,37,1539275.0,73723,0.00,4.79,COVID19PartiallyVaccPersons,2021-08-23_10-12-10,detailed,NaN,NaN

In [46]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23424 entries, 0 to 23423
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  23424 non-null  datetime64[ns]
 1   geoRegion             23424 non-null  object
 2   entries               23424 non-null  int64
 3   pop                   21228 non-null  float64
 4   sumTotal              23424 non-null  int64
 5   per100Persons         21228 non-null  float64
 6   per100PersonsTotal    21228 non-null  float64
 7   type                  23424 non-null  object
 8   version               23424 non-null  object
 9   granularity           23424 non-null  object
 10  per100Persons_mean7d  20706 non-null  float64
 11  mean7d                22848 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(2), object(4)
memory usage: 2.1+ MB

In [21]:
url = 'https://www.covid19.admin.ch/api/data/20230815-7ixiby4u/sources/COVID19Death_geoRegion.csv'
covid_df = pd.read_csv(url)

In [22]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30247 entries, 0 to 30246
Data columns (total 36 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   geoRegion              30247 non-null  object
 1   datum                  30247 non-null  object
 2   entries                30247 non-null  int64
 3   sumTotal               30247 non-null  int64
 4   timeframe_14d          30247 non-null  bool
 5   timeframe_all          30247 non-null  bool
 6   offset_last7d          30247 non-null  int64
 7   sumTotal_last7d        30247 non-null  int64
 8   offset_last14d         30247 non-null  int64
 9   sumTotal_last14d       30247 non-null  int64
 10  offset_last28d         30247 non-null  int64
 11  sumTotal_last28d       30247 non-null  int64
 12  sum7d                  30073 non-null  float64
 13  sum14d                 29870 non-null  float64
 14  mean7d                 30160 non-null  float64
 15  mean14d                30073 non-null  float64
 16  entries_diff_last_age  30247 non-null  int64
 17  pop                    30247 non-null  int64
 18  inz_entries            30247 non-null  float64
 19  inzsumTotal            30247 non-null  float64
 20  inzmean7d              30160 non-null  float64
 21  inzmean14d             30073 non-null  float64
 22  inzsumTotal_last7d     0 non-null      float64
 23  inzsumTotal_last14d    0 non-null      float64
 24  inzsumTotal_last28d    174 non-null    float64
 25  inzsum7d               30073 non-null  float64
 26  inzsum14d              29870 non-null  float64
 27  sumdelta7d             30044 non-null  float64
 28  inzdelta7d             30044 non-null  float64
 29  type                   30247 non-null  object
 30  type_variant           0 non-null      float64
 31  version                30247 non-null  object
 32  datum_unit             30247 non-null  object
 33  entries_letzter_stand  30247 non-null  int64
 34  entries_neu_gemeldet   30247 non-null  int64
 35  entries_diff_last      30247 non-null  int64
dtypes: bool(2), float64(16), int64(13), object(5)
memory usage: 7.9+ MB

**Q/C: The COVID-19 data loaded from the CSV file seems different than the data loaded from the JSON file**

### 3. Indexing on a DataFrame

By methods (we are back to our clean and simple Iris dataset):

In [47]:
iris_df.head()

   slength  swidth  plength  pwidth      species
0      5.1     3.5      1.4     0.2  Iris-setosa
1      4.8     3.0      1.4     0.2  Iris-setosa
2      4.7     3.2      1.3     0.2  Iris-setosa
3      4.6     3.1      1.5     0.2  Iris-setosa
4      5.0     3.6      1.4     0.2  Iris-setosa

We want to add indices or headers to the dataset

In [48]:
iris_df = pd.read_csv('iris.csv', names = ['slength','swidth','plength','pwidth','species'])
iris_df.head()

   slength  swidth  plength  pwidth      species
0      5.1     3.5      1.4     0.2  Iris-setosa
1      4.9     3.0      1.4     0.2  Iris-setosa
2      4.7     3.2      1.3     0.2  Iris-setosa
3      4.6     3.1      1.5     0.2  Iris-setosa
4      5.0     3.6      1.4     0.2  Iris-setosa

In [49]:
# access single cell by integer numbers (row 149, column 0 / first column), faster than loc and iloc
iris_df.iat[1,0]

4.9

In [50]:
# Assign a new value
iris_df.iat[1,0] = 4.8
iris_df.head()

   slength  swidth  plength  pwidth      species
0      5.1     3.5      1.4     0.2  Iris-setosa
1      4.8     3.0      1.4     0.2  Iris-setosa
2      4.7     3.2      1.3     0.2  Iris-setosa
3      4.6     3.1      1.5     0.2  Iris-setosa
4      5.0     3.6      1.4     0.2  Iris-setosa

Indexing a group/subset of the dataframe by loc (column names) or iloc (index)

In [51]:
iris_df.iloc[0:10:2,2:4] #index rows 0 - 10 at every other row, and columns 2 - 4.

   plength  pwidth
0      1.4     0.2
2      1.3     0.2
4      1.4     0.2
6      1.4     0.3
8      1.4     0.2

**Important**
When you assign a (subset) of dataframe to a new one like above, no copy is made. This means that if you change values of the new frame, also the orginal frame will be changed. If you want a copy, you need to use the copy method.

Indexing by column names...

In [90]:
selected_columns = iris_df[['swidth', 'plength']]
selected_columns.mean()

swidth     3.048299
plength    3.758667
dtype: float64

Selecting (filtering) by column values df = dataframe[dataframe['species']=='Iris-setosa']

In [53]:
setosa_only_df = iris_df[iris_df['species']=='Iris-setosa'] #making a new data frame that includes information only on the 'iris setosa' species

In [35]:
setosa_only_df

    slength  swidth  plength  pwidth      species
0       5.1     3.5      1.4     0.2  Iris-setosa
1       4.8     3.0      1.4     0.2  Iris-setosa
..      ...     ...      ...     ...          ...
48      5.3     3.7      1.5     0.2  Iris-setosa
49      5.0     3.3      1.4     0.2  Iris-setosa

[50 rows x 5 columns]

In [54]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   slength  150 non-null    float64
 1   swidth   150 non-null    float64
 2   plength  150 non-null    float64
 3   pwidth   150 non-null    float64
 4   species  150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

Vectorized dataframe manipulations...

In [41]:
setosa_only_df['plength']*2.

0     2.8
1     2.8
     ...
48    3.0
49    2.8
Name: plength, Length: 50, dtype: float64

In [42]:
setosa_only_df['plength'].mean()

1.464

Grouping ...

In [43]:
# note that the below code does the same thing as the "selecting" or "filtering" code in "filtering by column" above

gdf = iris_df.groupby('species')
print(gdf)
df_v = gdf.get_group('Iris-virginica')
df_v

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x13e91a310>

     slength  swidth  plength  pwidth         species
100      6.3     3.3      6.0     2.5  Iris-virginica
101      5.8     2.7      5.1     1.9  Iris-virginica
..       ...     ...      ...     ...             ...
148      6.2     3.4      5.4     2.3  Iris-virginica
149      5.9     3.0      5.1     1.8  Iris-virginica

[50 rows x 5 columns]

### 4. Sorting on a DataFrame

...

In [55]:
iris_df.sort_values(['plength','pwidth']) #sort the rows by the values of 'plength' and then 'pwidth'

     slength  swidth  plength  pwidth         species
22       4.6     3.6      1.0     0.2     Iris-setosa
13       4.3     3.0      1.1     0.1     Iris-setosa
14       5.8     4.0      1.2     0.2     Iris-setosa
35       5.0     3.2      1.2     0.2     Iris-setosa
2        4.7     3.2      1.3     0.2     Iris-setosa
..       ...     ...      ...     ...             ...
131      7.9     3.8      6.4     2.0  Iris-virginica
105      7.6     3.0      6.6     2.1  Iris-virginica
122      7.7     2.8      6.7     2.0  Iris-virginica
117      7.7     3.8      6.7     2.2  Iris-virginica
118      7.7     2.6      6.9     2.3  Iris-virginica

[150 rows x 5 columns]

You may measure the time needed for the execution, e.g. with the operating system command "time". System commands are executed with a %:

In [56]:
%time iris_df.sort_values(['plength','pwidth'])

CPU times: user 2.95 ms, sys: 1.77 ms, total: 4.72 ms
Wall time: 3.53 ms

     slength  swidth  plength  pwidth         species
22       4.6     3.6      1.0     0.2     Iris-setosa
13       4.3     3.0      1.1     0.1     Iris-setosa
14       5.8     4.0      1.2     0.2     Iris-setosa
35       5.0     3.2      1.2     0.2     Iris-setosa
2        4.7     3.2      1.3     0.2     Iris-setosa
..       ...     ...      ...     ...             ...
131      7.9     3.8      6.4     2.0  Iris-virginica
105      7.6     3.0      6.6     2.1  Iris-virginica
122      7.7     2.8      6.7     2.0  Iris-virginica
117      7.7     3.8      6.7     2.2  Iris-virginica
118      7.7     2.6      6.9     2.3  Iris-virginica

[150 rows x 5 columns]

In [74]:
# list the file in your current directory with the linux command ls
%ls -l

total 7856
-rw-rw-r--@  1 pbecerra  staff  3559904 Aug 22 16:33 CHE_adm.zip
-rw-rw-r--@  1 pbecerra  staff   236403 Aug 22 16:33 M1-D1-DM-Sol.ipynb
-rw-rw-r--@  1 pbecerra  staff    24817 Aug 22 16:33 M1-D1-DM.ipynb
drwxrwxr-x@ 12 pbecerra  staff      384 Aug 22 16:33 M1-D2-DB/
-rw-rw-r--@  1 pbecerra  staff    19512 Aug 22 16:33 M1-D2-DV-Sol.ipynb
-rw-rw-r--@  1 pbecerra  staff    16639 Aug 22 16:33 M1-D2-DV.ipynb
-rw-rw-r--@  1 pbecerra  staff    15572 Aug 22 16:33 M1-D3-MySQL-Ex.ipynb
-rw-rw-r--@  1 pbecerra  staff    28519 Aug 22 16:33 M1-D3-MySQL-Solution.ipynb
-rw-rw-r--@  1 pbecerra  staff    13724 Aug 22 16:33 M1-D3-WWW.ipynb
-rw-rw-r--@  1 pbecerra  staff    70028 Aug 23 15:46 M1_D1_DM.ipynb
drwxrwxr-x@  6 pbecerra  staff      192 Aug 23 11:53 M1_Web_Scraping/
-rw-rw-r--@  1 pbecerra  staff      817 Aug 22 16:33 Readme.md
-rw-rw-r--@  1 pbecerra  staff      619 Aug 22 16:33 covid-per-canton.csv
-rw-rw-r--@  1 pbecerra  staff     4551 Aug 22 16:33 iris.csv

Here is a cheat sheet for common linux commands: https://files.fosswire.com/2007/08/fwunixref.pdf

In [75]:
%pwd

'/Users/pbecerra/Library/CloudStorage/Dropbox/UNIBE/CAS_Bern/datascience/Applied-Data-Science-git/Module-1'

### 5. Filtering on a DataFrame
...

In [57]:
# Create a dataframe with one column of boolean values that say whether the values in slength are larger than 5.0
# Should returns a vector with boolean values
iris_df['slength'] > 5.0

0       True
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147     True
148     True
149     True
Name: slength, Length: 150, dtype: bool

In [80]:
# We can apply the filtering result to a new dataframe
filtered_df = [iris_df['slength'] > 5.0]

In [81]:
# And print it
print(filtered_df)

[0       True
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147     True
148     True
149     True
Name: slength, Length: 150, dtype: bool]

### 6. Missing or bad data

Datasets, before they are "cleaned", may contain missing or wrongly formated values. There are DataFrame methods to deal with this:

- DataFrame.dropna([axis, how, thresh, …])	Remove missing values.
- DataFrame.fillna([value, method, axis, …])	Fill NA/NaN values using the specified method
- DataFrame.replace([to_replace, value, …])	Replace values given in to_replace with value.
- DataFrame.interpolate([method, axis, limit, …])	Interpolate values according to different methods.

Retrieving and cleaning data is often the most time consuming part in a data science project.

### 7. Exporting dataframes (I/O)

DataFrame has several export methods. (html, hdf5, ascii, excel etc). Let's write our file to a text file in a csv format.

In [58]:
iris_df.to_csv('clean_iris.csv')

In [59]:
%ls -l *.csv

-rw-r--r--@ 1 pbecerra  staff  5079 Aug 25 14:53 clean_iris.csv
-rw-rw-r--@ 1 pbecerra  staff   619 Aug 22 16:33 covid-per-canton.csv
-rw-rw-r--@ 1 pbecerra  staff  4551 Aug 22 16:33 iris.csv

What happens with our files when we close our colab session?

A: In colab, they will disappear, but in a local (anaconda) Jupyter Notebook, they will be saved in the local copy

### 8. Metadata


Metadata is data about the data, e.g. when was it collected, under which conditions, calibration etc.
Metadata is normally not part of the statistical data analysis, however, needed for understanding and reproducibilty.

DataFrame is not really made for storing metadata (should be done separately), but one can add new attributes to a dataframe:

Data repositories often use so-called Data Cards for metadata. See for example: https://www.kaggle.com/datasets/uciml/iris

### 9. Working on the filesystem with the os module

When managing large datasets, one often has to organise files in the file system. This includes finding them, moving and copying them, creating new folders/directories, renaming them etc. This can easily be done from Python with the os (operating system) module.

Try to understand the following code and alter it to do something else.

In [85]:
import os

new_dir = os.getcwd() +'/newnbdir' # Get the current directory into a string, add /newnbdir to the string
#os.makedirs(new_dir)               # Create the newnbdir folder
files = os.listdir()               # List the files in the current folder
nb_files = []                      # Create an empty list
for file in files:                 # iterate through the 'files' list that lists all the files in the current folder
    if 'csv' in file and file[0]!='.':  # if the 'csv' string is present in the 'file' element of the 'files' list, and if the element does not start with a period...
        nb_files.append(file)             # ...append the 'file' element in 'files' to the new list
for file in nb_files:              # after the above completes, for every element in the nb_files list...
    os.system('cp '+file+' '+new_dir+'/') # ...copy that actual file (unix commands) into the newly made directory

In [60]:
%ls -l newnbdir

total 2968
-rw-r--r--@ 1 pbecerra  staff  202565 Aug 25 15:11 M1-D1-DM-Sol.ipynb
-rw-r--r--@ 1 pbecerra  staff  547153 Aug 25 15:11 M1-D2-DV-Sol.ipynb
-rw-r--r--@ 1 pbecerra  staff  583522 Aug 25 15:11 M1-D2-DV.ipynb
-rw-r--r--@ 1 pbecerra  staff   14329 Aug 25 15:11 M1-D3-MySQL-Ex.ipynb
-rw-r--r--@ 1 pbecerra  staff   28519 Aug 25 15:11 M1-D3-MySQL-Solution.ipynb
-rw-r--r--@ 1 pbecerra  staff   13724 Aug 25 15:11 M1-D3-WWW.ipynb
-rw-r--r--@ 1 pbecerra  staff   87902 Aug 25 15:11 M1_D1_DM.ipynb
-rw-r--r--@ 1 pbecerra  staff      72 Aug 25 15:11 Untitled.ipynb
-rw-r--r--@ 1 pbecerra  staff    1252 Aug 25 15:11 Untitled1.ipynb
-rw-r--r--@ 1 pbecerra  staff    5079 Aug 25 15:12 clean_iris.csv
-rw-r--r--@ 1 pbecerra  staff     619 Aug 25 15:12 covid-per-canton.csv
-rw-r--r--@ 1 pbecerra  staff    4551 Aug 25 15:12 iris.csv

### Exercise 3 (this we may skip if not enough time)

Read in the iris dataset from iris.csv into a dataframe. Set the values in column 1 in row 39, 49 and 100 to NaN (use the nan method from the numpy package). Then replace the NaN values to the average value of the respective column. Depending on how you do it, this may be about 10 lines of Python code.

In [70]:
# lists all active variables in the current Jupyter nb and information about them (note that python comments don't work inline with the "magic" 
%whos

Variable           Type                Data/Info
------------------------------------------------
covid_df           DataFrame                       date geoRegio<...>[23424 rows x 12 columns]
df_v               DataFrame                slength  swidth  ple<...>\n\n[50 rows x 5 columns]
gdf                DataFrameGroupBy    <pandas.core.groupby.gene<...>By object at 0x13e91a310>
i                  int                 9
iris_df            DataFrame                slength  swidth  ple<...>n\n[150 rows x 5 columns]
pd                 module              <module 'pandas' from '/U<...>ages/pandas/__init__.py'>
selected_columns   DataFrame                swidth  plength\n0  <...>n\n[150 rows x 2 columns]
setosa_only_df     DataFrame               slength  swidth  plen<...>\n\n[50 rows x 5 columns]
url                str                 https://www.covid19.admin<...>OVID19VaccPersons_v2.json

In [125]:
# Solve your exercise here
import numpy as np
import math as math
import matplotlib.pyplot as plt

# Assign the new values
iris_df.iat[39,1] = np.nan
iris_df.iat[49,1] = np.nan
iris_df.iat[100,1] = np.nan

#option 1
#iris_df.iat[39,1] = iris_df.iloc[:,1].mean()
#iris_df.iat[49,1] = iris_df.iloc[:,1].mean()
#iris_df.iat[100,1] = iris_df.iloc[:,1].mean()

#option 2
test = iris_df.iloc[:, 1]

for i in test:
    if math.isnan(i):
        mean_value = iris_df.iloc[:, 1].mean()
        iris_df.iloc[:, 1].fillna(mean_value, inplace=True)
 
for i in range(38,102):
    print(iris_df.iloc[i,1])

3.0
3.0482993197278914
3.5
2.3
3.2
3.5
3.8
3.0
3.8
3.2
3.7
3.0482993197278914
3.2
3.2
3.1
2.3
2.8
2.8
3.3
2.4
2.9
2.7
2.0
3.0
2.2
2.9
2.9
3.1
3.0
2.7
2.2
2.5
3.2
2.8
2.5
2.8
2.9
3.0
2.8
3.0
2.9
2.6
2.4
2.4
2.7
2.7
3.0
3.4
3.1
2.3
3.0
2.5
2.6
3.0
2.6
2.3
2.7
3.0
2.9
2.9
2.5
2.8
3.0482993197278914
2.7

In [103]:
type(iris_df.iloc[:,1])

pandas.core.series.Series

In [97]:
i1 = iris_df.iloc[:,1].mean()
print(i1)
i2 = iris_df['swidth'].mean()
print(i2)

3.0482993197278914
3.0482993197278914

### Exercise 4

Print a sorted list of the weeks and the female deaths with COVID-19 in Switzerland. The weeks with the highest numbers should appear first. This should be doable with about 10 lines of Python. You may need 30 minutes to solve this one.

In [ ]:
import pandas as pd
#url = 'https://www.covid19.admin.ch/api/data/20210824-jrvdp23s/sources/COVID19Test_geoRegion_all.json'
#df_cov = pd.io.json.read_json(url)
#url = 'https://www.covid19.admin.ch/api/data/20210824-jrvdp23s/sources/COVID19Death_geoRegion_sex_w.csv'
url = 'https://www.covid19.admin.ch/api/data/20230815-7ixiby4u/sources/COVID19Death_geoRegion_sex_w.csv'

# End of today - please fill this form

https://forms.gle/bzDpGLUieVnheZUi6.
Have a nice evening and see you tomorrow.